:root {
    font-family: 'Varela Round', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

/* Title */
.title {
    margin: 0;
}

/* Update name form */
.display-name {
    width: max-content;
}

.display-name > span {
    margin-right: 3px;
    font-size: 20px;
    color: rgb(119, 218, 20);
}

.display-name > i {
    cursor: pointer;
    color: royalblue;
}

#name {
    width: 190px;
    padding: 3px;
    border: 2px solid gray;
    border-radius: 4px;
    color: black;
    font-size: 15px;
    font-family: inherit;

    position: fixed;
    right: -198px;
    top: 65px;

    transition: all 250ms linear;
}

#name:focus {
    outline: none;
}


/* Buttons for chatroom */
.buttons {
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 388px) {
    .buttons {
        height: 100px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.button {
    font-family: inherit;
    font-size: 1.1rem;
    cursor: pointer;
    width: 100px;
    height: 40px;
    margin: 4px;
    background-color: white;
    color: black;
    cursor: pointer;
    border: 2px solid black;
    border-bottom: 4px solid black;
    border-radius: 4px;
}

.button:first-of-type {
    border-bottom-width: 3px;
}

/* Chat window */
.window {
    list-style: none;
    width: 100%;
    max-width: 800px;
    height: 450px;
    margin: 10px auto;
    overflow-y: scroll;
    padding: 0;
    background-image: linear-gradient(to top right, red, blue);
    background-size: cover;
    background-position: center;
}

.message {
    padding: 2px 10px;
    width: max-content;
    max-width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px auto 10px 10px;
    background-color: white;
}

.name {
    font-size: 1.1rem;
    font-weight: bold;
    border-bottom: 1px solid rgb(110, 110, 110);
    margin-bottom: 5px;
}

.text {
    font-size: 1.1rem;
    overflow-wrap: break-word;
}

.time {
    color: rgb(110, 110, 110);
    text-align: right;
    font-size: .8rem;
    margin-top: 5px;
}

.you {
    background-color: rgb(200, 255, 118);
    margin: 10px 10px 10px auto;
}

.you > .name {
    text-align: right;
}

.you > .time {
    text-align: left;
}

/* Send message forms */
.send-message {
    width: 100%;
    max-width: max-content;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.send-message > * {
    display: inline-block;
}

.field-title {
    font-weight: bold;
    margin-right: 5px;
}

#message {
    min-width: 0;
    width: 500px;
    height: 30px;
    padding: 3px;
    border: 2px solid gray;
    border-radius: 4px;
    color: black;
    font-size: 15px;
    font-family: inherit;
    resize: none;
}

#message:focus {
    outline: none;
}

.send {
    background-color: inherit;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    margin-left: 5px;
}

.send > i {
    font-size: 20px;
}

.send > i:hover {
    color: lawngreen;
}

.send:focus {
    outline: none;
}